asgiref==3.7.2
bcrypt==4.0.1
cffi==1.15.1
cfgv==3.4.0
cryptography==41.0.3
distlib==0.3.7
Django==4.2
django-filter==23.2
djangorestframework==3.14.0
filelock==3.12.3
identify==2.5.27
lxml==4.9.3
Markdown==3.4.4
ncclient==0.6.13
nodeenv==1.8.0
paramiko==3.3.1
platformdirs==3.10.0
pre-commit==3.3.3
pycparser==2.21
PyNaCl==1.5.0
python-dotenv==1.0.0
pytz==2023.3
PyYAML==6.0.1
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.7.1
virtualenv==20.24.3
