name: Test Coverage Check

on:
  push:
    branches:
      - task-6

jobs:
  test-coverage:
    name: Check Test Coverage
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x  # Choose the appropriate Python version

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt  # Adjust to your requirements file path

      - name: Run Django Tests and Calculate Coverage
        run: |
          coverage run src/manage.py test

      - name: Calculate Coverage Percentage
        run: |
          COVERAGE_PERCENTAGE=$(coverage report | awk '/total/ {print $4}' | sed 's/%//')
          echo "Coverage: $COVERAGE_PERCENTAGE%"
          if [ $COVERAGE_PERCENTAGE -lt 80 ]; then
            echo "Test coverage is below 80%. Exiting..."
            exit 1
          fi
